:root {
    --cube--width: 300px;
    --translateZ: 150px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: poppins, sans-serif;
    background-color: black;
}

header {
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.container {
    max-width: 100%;
    margin: 0;
}

header h1 {
    margin: 0;
    font-size: 100px;
}

header .sub-header {
    font-size: 24px;
    margin: 0;
}

.cube-container {
    perspective: 1000px;
}

.cube-container .cube {
    width: var(--cube--width);
    height: var(--cube--width);
    transform-style: preserve-3d; ;
}

.cube-container .cube-face {
    width: var(--cube--width);
    height: var(--cube--width);
    position: absolute;
    font-size: 30px;
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cube-container .front{
    background: lightcoral;
    transform: translateZ(var(--translateZ));
}

.cube-container .back{
    background: lightblue;
    transform: rotateY(180deg) translateZ(var(--translateZ));
}

.cube-container .left{
    background: lightyellow;
    transform: rotateY(-90deg) translateZ(var(--translateZ));
}

.cube-container .right{
    background: lightgreen;
    transform: rotateY(90deg) translateZ(var(--translateZ));
}

.cube-container .top{
    background: lightpink;
    transform: rotateX(90deg) translateZ(var(--translateZ));
}

.cube-container .bottom{
    background: lightseagreen;
    transform: rotateX(-90deg) translateZ(var(--translateZ));
}